.modal-backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.content {
    position: fixed;
    border-radius: 30px;
    top: 10vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
    background: white;
    overflow: hidden;
}