.Card {
    background-color: rgb(134, 134, 134);
    margin-top: 5vh;
    margin-bottom: 7vh;
    line-height: 150px;
    width: 200px;
    height: 150px;
    box-shadow: 0 0 45px 8px rgba(173, 173, 172, 0.35);
}

.Image{
    width: 100%;
    height: 100%;
}